extends layout

block con
    #container.container.form-group
        label(for="title")
        input#title.title.form-control(type='text', name='title', value='#{obj.title}')
        #questions.questions
            each v,o in obj
                if o.charAt(0)==="Q"
                    - var choices=obj[o].choices
                    .question.clearFix.row
                        .order.col-lg-1.col-md-1.col-sm-1.col-xm-1=o
                        .quContent.col-lg-5.col-md-5.col-sm-12.col-xm-12
                            input.describe.form-control(type='text', value='#{obj[o].describe}')
                            br
                            if obj[o].type === "checkbox"
                                each val, index in choices
                                    input.form-control(type='checkbox' name='checkbox')
                                    input.option.form-control(type='text', value='#{val}')
                                    i.icon-plus-sign.icon-large
                                    i.icon-minus-sign.icon-large
                                    br
                            if obj[o].type === "radio"
                                each val, index in choices
                                    input.form-control(type='radio' name='radio')
                                    input.option.form-control(type='text', value='#{val}')
                                    i.icon-plus-sign.icon-large
                                    i.icon-minus-sign.icon-large
                                    br
                            if obj[o].type === "text"
                                textarea.text.form-control
                        .menu.col-lg-6.col-md-6.col-sm-12.col-xs-12
                            ul.row
                                li.col-lg-2.col-md-2.col-sm-2.col-xs-2.moveUp 上移
                                li.col-lg-2.col-md-2.col-sm-2.col-xs-2.moveDown 下移
                                li.col-lg-2.col-md-2.col-sm-2.col-xs-2.copy 复用
                                li.col-lg-2.col-md-2.col-sm-2.col-xs-2.del 删除
        .panel
            #subPanel.subPanel
                ul
                    li#newSingle single
                    li#newMultiple multiple
                    li#newText text
            button#newQu.newQu + New Question
        button#save save
    button#clear clear
    button#show show
    script(src="/javascript/edit.js")
    script(src="/javascript/common.js")